main {
    box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
    min-height: calc(100vh - var(--header_height));
}

:root[data-theme='dark'] main {
    box-shadow: 0 2px 3px #ffffff1a, 0 0 0 1px #ffffff1a;
}
