:root {
    --nav_background: rgb(234, 231, 229);
    --nav_text: rgba(39, 41, 45, 1);
    --nav_toggler_border: rgb(0, 0, 0);
    --nav_brand: rgb(0, 0, 0) !important;
    --nav_text_hover: rgba(0, 0, 0, .5);
    --nav_toggler_icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --body_background: rgb(242, 242, 242);
    --text: rgb(0, 0, 0);
    --main_background: rgb(255, 255, 255);
    --big_icon_size: 1.35em;
    --moon_icon: 0.5em;
    --sun_icon: var(--big_icon_size);
    --vk_logo: url(../../pictures/main/vk_logo_dark.png);
    --ds_logo: url(../../pictures/main/discord_logo_dark.png);
    --contact_text_hover: rgba(0, 0, 0, .5);
    --animation_speed: 1s;
    --text_animation_speed: 0.25s;
}

:root[data-theme='dark'] {
    --nav_background: rgb(105, 116, 133);
    --nav_text: rgba(255, 255, 255, .55);
    --nav_toggler_border: rgba(255, 255, 255, .1);
    --nav_brand: #fff !important;
    --nav_text_hover: #FFFFFFBF;
    --nav_toggler_icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --body_background: #2d2f33;
    --text: rgba(255, 255, 255, .9);
    --main_background: #2b2b2f;
    --big_icon_size: 1.35em;
    --vk_logo: url(../../pictures/main/vk_logo_light.png);
    --ds_logo: url(../../pictures/main/discord_logo_light.png);
    --contact_text_hover: rgba(255, 255, 255, .75);
    --moon_icon: var(--big_icon_size);
    --sun_icon: 0.5em;
}

.header, .footer {
    transition: background-color var(--animation_speed);
    background-color: var(--nav_background);
}

#headerNav {
    justify-content: space-between
}

.navbar .container {
    align-items: baseline;
}

.tech_img img {
    max-height: 250px;
    max-width: 250px;
    transition: transform var(--text_animation_speed), opacity var(--text_animation_speed);
}

.tech_img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.contact_links:hover > .contact_content {
    transition: color var(--text_animation_speed) !important;
    color: var(--contact_text_hover);
}

.navbar-brand, .navbar-brand:hover {
    transition: color var(--animation_speed) !important;
    color: var(--nav_brand);
}

.nav-link {
    transition: color var(--animation_speed), border-bottom 0.25s;
    color: var(--nav_text);
    cursor: pointer;
}

.nav-link:hover {
    border-bottom: 3px solid var(--nav_text);
    margin-bottom: -3px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: var(--nav_text_hover);
}

.navbar-toggler {
    color: var(--nav_text);
    border-color: var(--nav_toggler_border);
}

.navbar-toggler-icon {
    background-image: var(--nav_toggler_icon);
}

.col-30 {
    flex: 0 0 30%;
}

body {
    transition: color 0.15s, background var(--animation_speed);
    padding-top: 55px;
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main {
    transition: color var(--text_animation_speed), background var(--animation_speed);
    background: var(--main_background);
}

.footer {
    margin-top: auto;
}

.bi-moon {
    transition: color var(--text_animation_speed), font-size var(--animation_speed);
    font-size: var(--moon_icon);
}

.bi-brightness-high {
    transition: color var(--text_animation_speed), font-size var(--animation_speed);
    font-size: var(--sun_icon);
}

.change_theme_text {
    display: none;
}

.auth_text {
    display: none;
}

.bi-person-circle {
    transition: color var(--text_animation_speed), font-size var(--animation_speed);
    font-size: var(--big_icon_size);
}

.dropdown-menu {
    background-color: var(--nav_background);
}

.dropdown-item {
    color: var(--nav_text);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: var(--nav_text_hover);
    background-color: var(--body_background);
}

.right_icon {
    display: flex;
    align-items: center;
}

.anchor {
    padding-top: 65px;
    margin-top: -65px;
}

.vkLogo {
    transition: background var(--animation_speed);
    background: var(--vk_logo) no-repeat;
    background-size: contain;
    min-width: 64px;
    min-height: 64px;
    margin: 32px;
}

.tgLogo {
    background: url("../../pictures/main/TelegramLogo.png") no-repeat;
    background-size: contain;
    min-width: 64px;
    min-height: 64px;
    margin: 32px;
}

.dsLogo {
    transition: background var(--animation_speed);
    background: var(--ds_logo) no-repeat;
    background-size: contain;
    min-width: 64px;
    min-height: 64px;
    margin: 32px;
}

.mailLogo {
    transition: background var(--animation_speed);
    background: url(../../pictures/main/mailru_Logo.jpg) no-repeat;
    background-size: contain;
    min-width: 64px;
    min-height: 64px;
    margin: 32px;
}

@media (max-width: 991px) {
    .bi-moon {
        display: none;
    }

    .bi-person-circle {
        display: none;
    }

    .bi-brightness-high {
        display: none;
    }

    .change_theme_text {
        display: inline;
    }

    .auth_text {
        display: inline;
    }

    .tech_img img {
        max-height: 125px;
        max-width: 125px;
    }
}

@media (max-width: 342px) {
    .mailLogo, .dsLogo, .tgLogo, .vkLogo {
        min-width: 48px;
        min-height: 48px;
        margin: 24px;
    }
    .fake_block {
        display: none;
    }
}

